@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

html,
body {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    background: rgba(10, 10, 10, 1);
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.board {
    border: 1px solid rgba(50, 50, 50, 1);
    background: rgba(20, 20, 20, 1);
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

.cell {
    border: 0.5px dashed rgba(50, 50, 50, 1);
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.target {
    background-color: rgb(94, 94, 94);
}

.ball {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin: 10px;
    border-radius: 100%;
}

pre {
    display: inline;
}



/* Coloca o teu CSS a partir daqui */
.ball-0 {

    transform: translate(40px, 40px);
}

.ball-1 {
    transform: translate(200px, 360px);
}

.ball-2 {
    transform: translate(280px, 360px);
}

.ball-3 {
    transform: translate(200px, 120px);
}

.ball-4 {
    transform: translate(360px, 40px);
}

.ball-5 {
    transform: translate(40px, 160px);
}

.ball-6 {
    transform: translate(40px, 120px);
}

.ball-7 {
    transform: translate(120px, 200px);
}

.ball-8 {
    transform: translate(120px, 320px);
}

.ball-9 {
    transform: translate(200px, 160px);
}

.ball-10 {
    transform: translate(360px,360px);
}